.reveal .slide-logo {
   max-height: 2em !important;
}

.reveal .footer {
  text-align: left; /* Align image and text to the left */
  display: flex;
  flex-direction: column; /* Stack image and text vertically */
  align-items: flex-start;
  color: black;
}

/* Optional: Size the image in the footer */
.reveal .footer img {
  max-height: 100px; /* Adjust size as needed */
  margin-bottom: 2px; /* Small space between image and text */
}

.slide-background-content {
  background-color: #FAFAFA;
}

.fragment.highlight-dgreen {
}
.fragment.highlight-dgreen.visible {
  color: green;
}

.fragment.highlight-orange {
}
.fragment.highlight-orange.visible {
  color: #E56717;
}

.reveal .loose-list li {
  margin-bottom: 1.8em !important;
}


/* Hide 'handout' in overview grid, but not during the show */
.reveal.overview .slides section#handout {
  display: none !important;
}

/* Hide 'handout' from the reveal.js-menu plugin list */
.reveal-menu .slide-menu-item[data-slide-id="handout"] {
  display: none !important;
}
