.reveal .slide-logo {
   max-height: 2em !important;
}

.reveal .footer {
  text-align: left; /* Align image and text to the left */
  display: flex;
  flex-direction: column; /* Stack image and text vertically */
  align-items: flex-start;
  color: black;
}

/* Optional: Size the image in the footer */
.reveal .footer img {
  max-height: 100px; /* Adjust size as needed */
  margin-bottom: 2px; /* Small space between image and text */
}

.slide-background-content {
  background-color: #FAFAFA;
}

.fragment.highlight-dgreen {
}
.fragment.highlight-dgreen.visible {
  color: green;
}

.fragment.highlight-orange {
}
.fragment.highlight-orange.visible {
  color: #E56717;
}