.reveal .slide-logo {
   max-height: 2em !important;
}

.slide-background-content {
  background-color: #FAFAFA;
}

.fragment.highlight-dgreen {
}
.fragment.highlight-dgreen.visible {
  color: green;
}

.fragment.highlight-orange {
}
.fragment.highlight-orange.visible {
  color: orange;
}